/* ========== Global stuff ========== */

html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

/* ========== Main Header ========== */

#mainheader {
  background-image: url("./images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  display: flex;
}

#mainheader .row {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1024px) {
  #mainheader {
    height: 22rem;
  }
}

/* ========== Main Header - navbar ========== */

.navbar {
  display: flex;
  background-color: cadetblue;
  color: white;
  width: 96%;
  margin: 1rem auto;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
    margin: 0 auto 1rem;
  }
}

/* ========== Main Header - navbar logo ========== */

#logo-area {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

#logo-area .logo > img {
  height: 1.5rem;
  width: auto;
}

#logo-area .logo {
  margin-right: 1rem;
}

/* ========== Main Header - navbar links ========== */

#links-area ul {
  display: flex;
}

#links-area ul > li {
  margin: 1rem;
}

#links-area a {
  color: white;
  text-decoration: none;
}

/* ========== Main Header - highlight ========== */

.highlight {
  margin-top: 10rem;
  display: flex;
  margin-right: -2rem;
  background-color: white;
}

.highlight h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 1.5rem 5rem;
}

@media only screen and (max-width: 1024px) {
  .highlight {
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .highlight h1 {
    font-size: 1.33rem;
    margin: 0.75rem 4rem;
  }
}

/* ========== Main Content - Features ========== */

#features {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 3rem auto;
}

#features .feature {
  margin: 0 3rem;
  line-height: 1.4;
  text-align: center;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#features .feature.tallimg img {
  width: 3.5rem;
}

#features .feature > .featimg {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#features .feature img {
  width: 5rem;
}

/* ========== Main Content - Written features ========== */

#writtenfeatures {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

#writtenfeatures .written {
  width: 35%;
  margin: 0 2.5%;
}

#writtenfeatures .written h1 {
  width: 10rem;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* ========== Main Footer ========== */

#mainfooter .container {
  background-color: azure;
  display: flex;
}

#mainfooter .row {
  margin: 4rem;
}

#mainfooter .row img {
  height: 1.5rem;
  vertical-align: middle;
  margin-right: 1rem;
}
